{% extends_admingenerated "TaskeetMainBundle:ProjectShow:index.html.twig" %}

{% block page_title %}{% endblock %}

{% block object %}
    {#<div class="container">#}
    <div class="show">
        <div class="span6">
            <div class="span6">
                {#<img src="{{ asset('bundles/taskeetmain/img/percent.png') }}">#}
                {{ render(controller('TaskeetMainBundle:Project/Show:chart', {'pk': Project.id })) }}
            </div>
            <div class="span6">
                <div class="show-name project-general">
                    {#<h1 class="percent">60%</h1>#}
                    <h1 class="project-name">{{ Project.name }}</h1>
                </div>
                <h4>{{ 'Startdate'|trans({}, 'TaskeetMainBundle') }}: {% if Project.startDate %}{{ Project.startDate|localizeddate("medium") }}{% endif %}</h4>
                <h4>{{ 'Duedate'|trans({}, 'TaskeetMainBundle') }}: {% if Project.dueDate %}{{ Project.dueDate|localizeddate("medium", "medium") }}{% endif %}</h4>
                <h4 class="italic">{{ 'Client'|trans({}, 'TaskeetMainBundle') }}:{{ Project.client }}</h4>
                <h4 class="color">{{ Project.members | length }} {{ 'Members'|trans({}, 'TaskeetMainBundle') }}</h4>
                <h4 class="color">{{ Project.departments | length }} {{ 'Departments'|trans({}, 'TaskeetMainBundle') }}</h4>
                <h5>{{ 'Created'|trans({}, 'TaskeetMainBundle') }}:{% if Project.created %}{{ Project.created | localizeddate("medium", "medium") }}{% endif %}</h5>
            </div>
            <div class="span12">
                <h4>{{ Project.description }}</h4>
            </div>
        </div>
        <div class="span3">
            {{ render(controller('TaskeetMainBundle:Ticket/List:miniList', {'Tickets':Project.tickets}))}}
        </div>
        <div class="span3">
            <div class="show-name">
                <h1>{{ 'Members'|trans({}, 'TaskeetMainBundle') }}</h1>
            </div>
            <div class="members">
                {% for object in Project.members %}
                    <h6 class="color">{{ object }}</h6>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="{{ path("Taskeet_MainBundle_User_new") }}">
                <i class="icon-white icon-plus"></i> Miembro
            </a>

        </div>
    </div>
    {#</div>#}
{% endblock %}

{% block form_buttons %}
    <div class="form-actions span12">
        {% block form_actions %}

            {{ parent() }}

        {% endblock %}

    </div>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>#}
    {#<script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>#}
    {#<script type="text/javascript">#}
        {#{{ chart(chart) }}#}
    {#</script>#}

{#{% endblock javascripts %}#}
