{% extends_admingenerated "TaskeetMainBundle:TicketNew:index.html.twig" %}
{% set departmentId =  app.user.department.id %}
{% block form_fieldset_NONE %}
    <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
        <div class="row-fluid">
            <div class="control-group form_field field_text field_title">
                {% block form_title %}
                    {{ form_row(form['title']) }}
                {% endblock %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group form_field field_entity field_priority">
                {% block form_priority %}
                    {{ form_row(form['priority']) }}
                {% endblock %}
            </div>
            <div class="control-group form_field field_entity field_status">
                {% block form_status %}
                    {{ form_row(form['status']) }}
                {% endblock %}
            </div>
        </div>       
        <div class="row-fluid">
            <div class="control-group form_field field_datetimepicker field_dueDate">
                {% block form_startDate %}
                    {{ form_row(form['startDate'], { 'attr': {'id': 'datetimepicker', 'type':'text'} }) }}
                {% endblock %}
           
             </div> 
            <div class="control-group form_field field_datetimepicker field_dueDate">
                {% block form_dueDate %}
                    {{ form_row(form['dueDate']) }}
                {% endblock %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group form_field field_entity field_department">
                {% block form_department %}
                    {{ form_row(form['department']) }}
                {% endblock %}
            </div>
            <div class="control-group form_field field_entity field_project">
                {% block form_project %}
                    {{ form_row(form['project']) }}
                {% endblock %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group form_field field_entity field_assignedTo">
                {% block form_assignedTo %}
                    {{ form_row(form['assignedTo']) }}
                {% endblock %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="control-group form_field field_textarea field_description">
                {% block form_description %}
                    {{ form_row(form['description']) }}
                {% endblock %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="control-group form_field field_choice field_repeat">
                {% block form_repeat %}
                    {{ form_row(form['repeat']) }}
                {% endblock %}
            </div>
            <div class="control-group form_field field_choice field_remind">
                {% block form_remind %}
                    {{ form_row(form['remind']) }}
                {% endblock %}
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block form_fieldset_NotificarA %}
    <fieldset class="form_block form_fieldset_NotificarA fieldset_tabbable">
        <div class="control-group form_field field_entity field_department">
            <label class="control-label" for="departamento">Departamento</label>
            <select id="departamento"></select>
        </div>
        <div id="errores" class="alert alert-error" hidden="hidden">
            <button class="hide" data-dismiss="alert" type="button">×</button>
            <div id="mensaje"></div>
        </div>
        <div class="row-fluid">
            <div class="control-group form_field field_double_list field_followers">
                {% block form_followers %}
                    {{ form_row(form['followers']) }}
                {% endblock %}
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block form_fieldset_Adjuntos %}
    <fieldset class="form_block form_fieldset_Adjuntos fieldset_tabbable">
        <div class="row-fluid">
            <div class="control-group form_field field_upload field_files">
                {% block form_files %}
                    {{ form_row(form['files']) }}
                {% endblock %}
            </div>
        </div>
    </fieldset>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src="js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#new_ticket_followers_unselected').html("");
            //obtengo el id del departamento del usuario que esta logueado
            var departamentoActual = "{{ departmentId }}";
            //cargo por defecto el departamento del usuario logueado
            $('#new_ticket_department').val(departamentoActual * 1);
            //meto en la variable data el objeto que contiene el id del departamento del usuario logueado
            var data = {
                department_id:departamentoActual
            };
            //Cargo los usuarios que pertenecen a el departamento del usuario logueado
            cargarUsuarios(data);
            cargarUsuariosAsignados(data);


            $("#new_ticket_department").change(function () {
                var data = {
                    department_id:$(this).val()
                };
                cargarUsuariosAsignados(data)
            });

            $("#departamento").change(function () {
                var data = {
                    department_id:$(this).val()
                };
                cargarUsuarios(data)
            });

            //Cargo los departamentos del combo departamento
            $.ajax({
                type:'post',
                url:'{{ path("departaments") }}',
                success:function (data) {
                    $('#departamento').html(data);
                    $('#departamento').val(departamentoActual * 1);
                }
            });
        });

        function cargarUsuariosAsignados(datos) {
            $.ajax({
                type:'post',
                url:'{{ path("select_users") }}',
                data:datos,
                success:function (data) {
                    $('#new_ticket_assignedTo').html(data);
                }
            });
        }
        function cargarUsuarios(datos) {
            $.ajax({
                type:'post',
                url:'{{ path("users_by_departament") }}',
                data:datos,
                dataType:'json',
                success:function (data) {
                    $('#mensaje').html("");
                    $('#errores').attr('hidden', 'hidden');
                    if (data.length == 0) {
                        $('#mensaje').append('<span>No existen usuarios en este departamento</span>');
                        $('#errores').removeAttr('hidden');
                    }
                    var selectedArray = $('#new_ticket_followers_selected').children();
                    var unselectedCount = $('#new_ticket_followers_unselected').children().length;
                    var arrayResultante = Array();
                    for (var i = 0; i < data.length; i++) {
                        var bool = false;
                        for (var j = 0; j < selectedArray.length; j++) {
                            if (data[i].value == selectedArray[j].value) {
                                bool = true;
                            }
                        }
                        if (!bool)
                            arrayResultante.push('<option value="' + data[i].value + '">' + data[i].nombre + '</option>')
                    }
                    if (arrayResultante.length == 0 && data.length != 0) {
                        $('#mensaje').append('<span>Los usuarios de este departamento ya estan seleccionados</span>');
                        $('#errores').removeAttr('hidden');
                    }
                    $('#new_ticket_followers_unselected').html(arrayResultante);
                }
            });
        }

        $(document).ready(function() {            
            $.ajax({
                type:'post',
                url:'{{ path("default_priority_ticket") }}',                
                dataType:'json',
                success:function (data) {
                    $('#new_ticket_priority').val(data.prioridad * 1);
                    $('#new_ticket_status').val(data.estado * 1);                    
                }                    
            });
            
        });
           
    </script>    

{% endblock %}