{% extends_admingenerated "TaskeetMainBundle:TicketNew:index.html.twig" %}

 {% block form_fieldset_NONE %}
    <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
        <div class="row-fluid">
            <div class="control-group form_field field_text field_title">
                {% block form_title %}
                    {{ form_row(form['title']) }}
                {% endblock %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group form_field field_entity field_priority">
                {% block form_priority %}
                    {{ form_row(form['priority']) }}
                {% endblock %}
            </div>
            <div class="control-group form_field field_entity field_status">
                {% block form_status %}
                    {{ form_row(form['status']) }}
                {% endblock %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="control-group form_field field_datepicker field_startDate">
                {% block form_startDate %}
                    {{ form_row(form['startDate']) }}
                {% endblock %}
            </div>
            <div class="control-group form_field field_datepicker field_dueDate">
                {% block form_dueDate %}
                    {{ form_row(form['dueDate']) }}
                {% endblock %}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="control-group form_field field_entity field_department">
                {% block form_department %}
                    {{ form_row(form['department']) }}
                {% endblock %}
            </div>
            <div class="control-group form_field field_entity field_project">
                {% block form_project %}
                    {{ form_row(form['project']) }}
                {% endblock %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group form_field field_entity field_assignedTo">
                {% block form_assignedTo %}
                    {{ form_row(form['assignedTo']) }}
                {% endblock %}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="control-group form_field field_textarea field_description">
                {% block form_description %}
                    {{ form_row(form['description']) }}
                {% endblock %}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="control-group form_field field_choice field_repeat">
                {% block form_repeat %}
                    {{ form_row(form['repeat']) }}
                {% endblock %}
            </div>
            <div class="control-group form_field field_choice field_remind">
                {% block form_remind %}
                    {{ form_row(form['remind']) }}
                {% endblock %}
            </div>
        </div>
   </fieldset>
{% endblock %}

{% block form_fieldset_NotificarA %}
    <fieldset class="form_block form_fieldset_NotificarA fieldset_tabbable">
        <div class="row-fluid">
            <div class="control-group form_field field_double_list field_followers">
                {% block form_followers %}
                    {{ form_row(form['followers']) }}
                {% endblock %}
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block form_fieldset_Adjuntos %}
    <fieldset class="form_block form_fieldset_Adjuntos fieldset_tabbable">
        <div class="row-fluid">
            <div class="control-group form_field field_upload field_files">
                {% block form_files %}
                    {{ form_row(form['files']) }}
                {% endblock %}
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#new_ticket_department").change(function(){
                var data = {
                    department_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("select_users") }}',
                    data: data,
                    success: function(data) {
                        $('#new_ticket_assignedTo').html(data);
                    }
                });
            });
        });
    </script>
{% endblock %}
