<div >
    <h1>En proceso</h1>
</div>
<div class="projects">
    <table>
        {% for object in Projects %}
            <tr>
                <td class="image-list">
                    {#<img src="{{ asset('bundles/taskeetmain/img/percent.png') }}">#}
                    {{ render(controller('TaskeetMainBundle:Project/Show:chart', {'pk': object.id })) }}
                </td>
                <td>
                    <div class="show-name project-general">
                        {#<h1 class="percent">60%</h1>#}
                    <a href="{{ path("Taskeet_MainBundle_Project_show", { 'pk': object.id }) }}"><h1 class="project-name">{{ object.name }}</h1></a>
                    </div>
                    <h4>{{ object.description | truncate(100, true) }}</h4>
                    {#<h4>{{ 'Startdate'|trans({}, 'TaskeetMainBundle') }}: {% if object.startDate %}{{ object.startDate|localizeddate("medium") }}{% endif %}</h4>#}
                    <h4>{{ 'Duedate'|trans({}, 'TaskeetMainBundle') }}: {% if object.dueDate %}{{ object.dueDate|localizeddate("medium", "medium") }}{% endif %}</h4>
                    {#<h4 class="italic">{{ 'Client'|trans({}, 'TaskeetMainBundle') }}:{{ object.client }}</h4>#}
                    {#<h4 class="color">{{ object.members | length }} {{ 'Members'|trans({}, 'TaskeetMainBundle') }}</h4>#}
                    {#<h4 class="color">{{ object.departments | length }} {{ 'Departments'|trans({}, 'TaskeetMainBundle') }}</h4>#}

                    {#<h5>{{ 'Created'|trans({}, 'TaskeetMainBundle') }}:{% if object.created %}{{ object.created | localizeddate("medium", "medium") }}{% endif %}</h5>#}
                </td>
            </tr>


        {% endfor %}
    </table>

</div>

