{% extends_admingenerated "TaskeetMainBundle:TicketShow:index.html.twig" %}
{% block page_title %}
    <div class="row-fluid">
        <div class="span1">
            <ul class="image-list">
                <li>
                    {% if Ticket.status %}
                        {% if Ticket.status.imageName %}
                            <img src="/images/status/{{ Ticket.status.imageName }}" />
                        {% endif %}
                    {% endif %}
                </li>
                <li>
                    {% if Ticket.priority %}
                        {% if Ticket.priority.imageName %}
                            <img src="/images/priorities/{{ Ticket.priority.imageName }}" />
                        {% endif %}
                    {% endif %}
                </li>
            </ul>

        </div>
        <div class="span11">
            <header>
            <h1>{% trans with {'%object%': Ticket.title,} from "TaskeetMainBundle" %}"%object%"{% endtrans %}</h1>
            </header>
        </div>
    </div>


{% endblock %}

{% block object %}
    <div class="offset1 span11 show">
        <div class="status">
            <h4 class="italic">
                Estado
                {% if Ticket.status %}
                   {{ Ticket.status.name }}
                {% endif %}
            </h4>
        </div>
        <div class="priority">
            <h4 class="italic">
                Prioridad
                {% if Ticket.priority %}
                    {{ Ticket.priority }}
                {% endif %}
            </h4>
        </div>
        <h4 class="italic">Duración estimada
            {% if Ticket.startDate %}desde {{ Ticket.startDate|localizeddate("medium", "medium") }}{% endif %}
            {% if Ticket.dueDate %}hasta {{ Ticket.dueDate|localizeddate("medium", "medium") }}{% endif %}
        </h4>
        <div class="created-by">
            <h4 class="italic">Creada por </h4>
            <h4 class="italic color">{{ Ticket.createdBy }}</h4>
        </div>

        <p>{{ Ticket.description }}</p>

        <div class="attach">
            <img src="{{ asset('bundles/taskeetmain/img/attach.png') }}">
            {% if Ticket.files %}
                <ul>
                    {% for Media in Ticket.files %}
                       <li><a href="/files/tickets/{{ Media.path}}">{{ Media.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>

        <div>
            <h5>Ultima actualizacion realizada por {{ Ticket.updatedBy }} {% if Ticket.updated %} el {{ Ticket.updated|localizeddate("medium", "medium") }}{% endif %}</h5>
        </div>
    </div>
{% endblock %}

{% block form_buttons %}
    <div class=" span12 form-actions">
        {% block form_actions %}
            {{ parent() }}
        {% endblock %}

    </div>
{% endblock %}