{% macro list(Tickets) %}

<div class="tickets">
    <table>
        {% for object in Tickets if not  object.done  %}
            <tr>
                <td class="image-list">
                    <ul class="image-list tooltip-demo">
                        {% if object.status %}
                            <li>
                                {% if object.status.imageName %}
                                    <a href="#" data-toggle="tooltip" title data-original-title="{{ object.status.name }}">
                                        <img src="/images/status/{{ object.status.imageName }}" />
                                    </a>
                                {% else %}
                                    {{ object.status.name }}
                                {% endif %}
                            </li>
                        {% endif %}

                        {% if object.priority %}
                            <li>
                                {% if object.priority.imageName %}
                                    <a href="#" data-toggle="tooltip" title data-original-title="{{ object.priority.name }}">
                                        <img src="/images/priorities/{{ object.priority.imageName }}" />
                                    </a>
                                {% else %}
                                    {{ object.priority }}
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path("Taskeet_MainBundle_Ticket_show", { 'pk': object.id }) }}"><h3>{{ object.title }}</h3></a>
                    <h4>{{ object.description | truncate(100, true) }}</h4>
                    <div class="assigned-to">
                        <h5 class="italic">{{ 'Assignedto'|trans({}, 'TaskeetMainBundle') }}</h5>
                        <h5 class="italic color">{{ object.assignedTo }}</h5>
                    </div>
                    <div class="start-date">
                        <h5 class="italic">{{ 'Startdate'|trans({}, 'TaskeetMainBundle') }}</h5>
                        <h5 class="color">{{ object.startDate | localizeddate("medium", "medium") }}</h5>
                    </div>
                </td>
            </tr>
        {% else %}
            <p>No existen resultados.</p>
        {% endfor %}
    </table>

</div>

{% endmacro %}
