{% macro list(Events) %}

<div class="events">
    <table>
        {% for object in Events %}
            <tr>
                <td class="image-list">
                    {% if object.type %}
                        {% if object.type.imageName %}
                            <img src="/images/events/{{ object.type.imageName }}">
                        {% else %}
                            {{ object.type.name }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path("Taskeet_MainBundle_Event_show", { 'pk': object.id }) }}"><h3>{{ object.title }}</h3></a>
                    {% if object.startDate %}
                        <div class="start-date">
                            <h5 class="italic">{{ 'Startdate'|trans({}, 'TaskeetMainBundle') }}</h5>
                            <h5 class="color">{{ object.startDate | localizeddate("medium", "medium") }}</h5>
                        </div>
                    {% endif %}
                    {% if object.dueDate %}
                        <div class="start-date">
                            <h5 class="italic">{{ 'Duedate'|trans({}, 'TaskeetMainBundle') }}</h5>
                            <h5 class="color">{{ object.dueDate | localizeddate("medium", "medium") }}</h5>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <p>No existen resultados.</p>
        {% endfor %}
    </table>

</div>

{% endmacro %}
