{% extends('TaskeetMainBundle::base_admin.html.twig') %}

{% from 'TaskeetMainBundle:TicketList:macro.html.twig' import list as tlist %}
{% from 'TaskeetMainBundle:ProjectList:macro.html.twig' import list as plist %}
{% from 'TaskeetMainBundle:EventList:macro.html.twig' import list as elist %}

{% block body %}
    <div class="row-fluid">

        <div class="span4">
        <div class="show-name">
            <h1>{{ 'Tickets'|trans({}, 'TaskeetMainBundle') }} <a class="btn btn-primary pull-right" href="{{ path("Taskeet_MainBundle_Ticket_new") }}">
                <i class="icon-white icon-plus"></i> Tarea
            </a></h1>
        </div>
            <h2>Para hoy</h2>
            {{ tlist(today) }}
            
            <h2>Próxima Semana</h2>
            {{ tlist(nextWeek) }}

            <h2>Atrasadas</h2>
            {{ tlist(undone) }}
        </div><!--/span-->

        <div id="dashboard-content" class="span4">
            <div class="show-name">
                <h1>Tareas por prioridad </h1>
            </div>  
            {{ tlist(priority) }}
        </div><!--/span-->

        <div class="span4">
            <div class="show-name">
                <h1>Estado de mis tareas</h1>
            </div> 
            {{ render(controller('TaskeetMainBundle:User/Show:chart')) }}
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}